<!doctype html>
{% extends 'base.html' %}
{% block body_block %}
    {% for obj in all_shop_factor %}
        <div class="row" style="border: solid darkred 1px; padding: 10px">
            <p>shop_name: {{ obj.shop_name }}</p>
            <p>order_time: {{ obj.order_time }}</p>
            {% if delete %}
                <a href="{% url 'delete_shop_factor' pk=obj.pk %}">
                    <button>delete</button>
                </a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
