<!doctype html>
<html lang="en">
<head>
  <title>Restaurant data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div style="float: left ;margin: 5px; padding: 5px; border-bottom: white; background: #0389D2; color: white"

             class="d-flex justify-content-end align-items-center" id="myHeader">

            <a class="bd-placeholder-img" href="{% url "home" %}" id="myHeader"
               style="color: white;margin-right:10px; background-color: #0389D2">Home</a>

        </div>
        <br>
        <br>
    </header>
    <div
         style="padding: 10px; margin-left: 400px;margin-right: 400px;margin-top: 10px;background-color: whitesmoke; text-align: center">

        {% block body_block %}
        {% endblock %}
    </div>
</div>

</body>
</html>
